{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    
    <h1>Bienvenue sur {{ title }}  </h1>
    
    <p> C'est un super blog qui tue les chips ! Entièrement
        fait a la main ! Avec SYmfony 4 .
        <br> 
        Bon c'est pas ouf mais c'est toujours plus beau que le site de la Nasa !
        <br>
        La preuve => <a href="https://www.nasa.gov/">Site Web de la Nasa</a>
    </p>



{% endblock %}